body{
    background: #A9D0F5;
    text-align: center;
}
h1{
    color: #FA5882;
    font-size: 50px;
    letter-spacing: 5px;
    font-family: 'Shrikhand', cursive;
}
p{
    color:#8A084B;
    font-size: 30px;
    letter-spacing: 3px;
    font-family: 'Great Vibes', cursive;
}